/*This is for the weather site and screened devices*/

/************************* 
* CSS Table of Contents
* 1. Imports
* 2. General Styles
* 2a. Layouts for general
* 2b. Boxes
* 2c. Fonts
* 3. Mobile Styles
* 4. Wind Dial
* 5. Large Screen Styles
*/

/*************************
* 1. Imports
*********************** */

/*copied sansita font from Google Fonts*/

@import url('https://fonts.googleapis.com/css?family=Sansita');

/*Import the normalize stylesheet*/

@import url('normalize.css');

/*************************
* 2. General Styles
*********************** */

* {
    box-sizing: border-box;
    /* changes width property
    to total width instead of content width */
}

*:before,
*:after {
    box-sizing: border-box;
}

article,
aside,
footer,
header,
nav,
section,
main,
figcaption,
figure {
    display: block;
    /* just in case we have
any older browsers that don't recognize
the HTML5 semantic elements */
}

body {
    font-family: helvetica, arial, sans-serif;
    font-size: 20px;
    margin: 0;
    /* remove any margin from body */
    padding: 0;
    /* ditto for padding */
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Sansita, Times, generic-family;
}

h2 {
    display: none;
}

h3 {
    display: none;
}
img{
    max-width: 100%;
    height: auto;
}
#curTemp {
    font-size: 4em;
    margin: 0;
    padding: 0;
}

#hi {
    color: red;
}

#lo {
    color: blue;
}

/*************************
* 2a. Layout for general
*********************** */
.hide {
   display: none;
 }

#success {
    display: contents ;
}

#locating{
    display: contents;
}

#status {
    display: none;
}

#fail {
    display: none;
}
#satImg{
    width:100%
}
#page-header {
    font-family: Sansita;
    background-color: #0e89d5;
    display: flex;
    align-items: center;
}
logo {
    height: 4em;
    align-content: center;
}

#site-brand {
    font-size: 2em;
    font-weight: 600;
    display: inherit;
}

#locationInfo dd,
dt {
    display: inline-flex;
}

#page-nav ul {
    justify-content: space-between;
    display: flex;
    margin: 0;
    padding: 0;
    font-size: 4vw;
}

nav ul li {
    /*    display: inline-block;*/
    list-style: none;
}

div #page-nav {
    height: auto;
    border: 1px;

}

#page-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: blue;
    width: 100vw;
    font-size: 3.5vw;

}

nav a:link {
    text-decoration: none;
    color: #FFF;
}

nav a:hover {
    color: purple;
}

#wind,
#temp {
    display: inline-block;
    margin-left: auto;
}

#hourly ul {
    display: flex;
    list-style: none;
    overflow-x: scroll;
    flex-flow: row;
    white-space: nowrap;
    padding: 2.5vw;
    font-size: 3vw;
}

/**********************
* 2b. Boxes
**********************/

#curWeather {
    background-color: gainsboro;
    margin: .2em auto;
    border: 1px solid;
    border-radius: 15px;
    background-size: cover;
}

/*#curWeather {
    background-image: url("plan-images/raindrops.jpg");
    background-size: cover;*/
}

#video {
    background-color: rgba(200, 200, 200, .6);
    margin: .2em auto;
    border: 1px solid;
    border-radius: 15px;
    background-size: cover;
}

#page-nav {
    background-color: #0e89d5;
    margin: .2em auto;
    border: 1px solid;
    border-radius: 1px;
    background-size: cover;
}

footer {
    background-color: #0e89d5;
    margin: .2em auto;
    border: 1px solid;
    border-radius: 1px;
    background-size: cover;
}


/*************************
* 3. Small Screens
*********************** */

#smallScreens,
#hourly {
    background-color: rgba(200, 200, 200, .6);
    margin: .2em auto;
    border: 1px solid;
    border-radius: 15px;
    background-size: cover;
}

footer {
    margin-bottom: 2em;
}
 
    .clear{
        background-image: url(/responsive_media/images/clear_400.jpg);
    }
    .clouds {
        background-image: url(/responsive_media/images/clouds_400.jpg);
    }
    .fog {
        background-image: url(/responsive_media/images/fog_400.jpg);
    }
    .rain {
        background-image: url(/responsive_media/images/rain_400.jpg);
    }
    .snow {
        background-image: url(/responsive_media/images/snow_400.jpg);
    }


/*************************
* 4. Wind Dial
*********************** */

#dial {
    background: no-repeat center/85% url('plan-images/wind-pointer.png');
    height: 150px;
    width: 150px;
    z-index: 100;
    margin: -.6em auto 0;
}

#wind .north {
    font-size: smaller;
    margin: .5em 0 0 0;
    text-align: center;
}

#wind-speed {
    width: 100%;
    text-align: center;
    margin-top: -4em;
    top: 46%;
}
#windInfo, #wind-speed, #wind {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    
}

.north {
    transform: rotate(0deg);
}

.nw {
    transform: rotate(315deg);
}
.west {
    transform: rotate(270deg);
}
.sw {
    transform: rotate(225deg);
}
.south {
    transform: rotate(180deg);
}
.se {
    transform: rotate(135deg);
}
.east {
    transform: rotate(90deg);
}
.ne {
    transform: rotate(45deg);
}

/***************************
* 5. Large Screens
***************************/

@media screen and (min-width: 760px) {
    /*    Center the content on the screen*/
    body > div {
        width: 1100px;
        margin: 0 auto;
    }
    h2,
    h3 {
        display: block;
    }
    #site-brand {
        font-size: 55px;
        font-weight: 400;
        margin: 0;
    }
    #curWeather {
        width: 100%;
        display: flex;
        justify-content: space-around;
        padding: 1em 0;
    }
    #page-nav {
        position: relative;
        font-size: inherit;
        width: auto;
        border: 2px solid black;

    }
    #page-nav ul {
        margin-bottom: 1px;
        margin-top: 1px;
        display: flex;
        justify-content: space-around;
    }
    #temp {
        border: 2px solid black;
        border-radius: 25px;
        background-color: rgba(200, 200, 200, .6);
        margin: .2em;
        background-size: cover;
        text-align: center;
        margin-right: 40px;
        margin-left: 40px;
        margin-bottom: 40px;
        padding-left: 30px;
        padding-right: 30px;
        margin-top: 40px;
    }
    }
    #smallScreens {
        background-color: rgba(200, 200, 200, .0);
        border: 0px solid;
        border-radius: 15px;
        display: flex;
        justify-content: flex-start;
        flex-wrap: nowrap;
    }
    #wind {
        text-align: center;
        border: 2px solid #000000;
        border-radius: 25px;
        background-color:rgba(200, 200, 200, .6);
        font-size: inherit;
        margin: 0px;
        padding-left: 60px;
        padding-right: 60px;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    #wind-speed {
        top: 44%;
        right: 0.5%;
    }

    #wind-info {
        margin: 0;
    }

    #video {
        border: 2px solid #000000;
        border-radius: 25px;
        background-color: rgba(200, 200, 200, .6);
        margin-top: 44.21px;
        margin-bottom: 44.21px;
        margin-left: 50px;
        padding-left: 9.5px;
        padding-right: 9.5px;
    }
    #curWeather {
        background-size: cover;
    }
    .clear{
        background-image: url(/responsive_media/images/clear_800.jpg);
    }
    .clouds {
        background-image: url(/responsive_media/images/clouds_800.jpg);
    }
    .fog {
        background-image: url(/responsive_media/images/fog_800.jpg);
    }
    .rain {
        background-image: url(/responsive_media/images/rain_800.jpg);
    }
    .snow {
        background-image: url(/responsive_media/images/snow_800.jpg);
    }


